<div class="characteristic_div">
	<label class="characteristic_label">{{ localize label }}</label>
	
	<input class="characteristic_input" name={{ dataPath }} type="text" value="{{ value }}" placeholder="{{ localize abbreviation }}" data-dtype="Number"/>
</div>