<img class="item_img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

<h2><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"/></h2>

<label class="price_label">{{localize 'Price'}}&nbsp;:</label>

<input class="price_input" name="system.price" type="text" value="{{item.system.price}}" placeholder="{{localize 'Price'}}" data-dtype="Number"/>

<label class="quantity_label">{{localize 'Quantity'}}&nbsp;:</label>

<input class="quantity_input" name="system.quantity" type="text" value="{{item.system.quantity}}" placeholder="{{localize 'Quantity'}}" data-dtype="Number"/>
