<tr class="item" data-item-id="{{item._id}}">
	<td class="left_aligned_table_cell"><a class="item_name_link"><strong>{{item.name}}</strong></a></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.head}}}</span></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.right_arm}}}</span></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.left_arm}}}</span></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.body}}}</span></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.right_leg}}}</span></td>
	<td class="center_aligned_table_cell"><span>{{{item.system.armour_points.left_leg}}}</span></td>
	<td class="left_aligned_table_cell"><span>{{item.system.properties}}</span></td>
	
	{{#if isOwner}}
	<td class="shrinked_table_cell">
		<a class="item_edit_link" title="{{localize 'EditItem'}}"><span class="fas fa-edit"></span></a>
	</td>
	<td  class="shrinked_table_cell">
		<a class="item_delete_link" title="{{localize 'DeleteItem'}}"><span class="fas fa-trash"></span></a>
	</td>
	{{/if}}
</tr>