<tr class="item" data-item-id="{{ item._id }}">
	<td class="left_aligned_table_cell"><a class="item_name_link"><strong>{{ item.name }}</strong></a></td>
	<td class="left_aligned_table_cell"><span>{{{ item.system.description }}}</span></td>
	<td class="shrinked_table_cell"><a class="quantity_link">{{ item.system.encumbrance }}</a></td>
	<td class="shrinked_table_cell"><a class="quantity_link">{{ item.system.quantity }}</a></td>

	{{# if isOwner }}
	<td class="shrinked_table_cell">
		<a class="item_edit_link" title="{{ localize 'EditItem' }}"><span class="fas fa-edit"></span></a>
	</td>
	<td class="shrinked_table_cell">
		<a class="item_delete_link" title="{{ localize 'DeleteItem' }}"><span class="fas fa-trash"></span></a>
	</td>
	{{/ if }}
</tr>