<table>
	<thead>
		<tr>
			<th>{{localize 'LOCATION.Head'}}</th>
			<th>{{localize 'LOCATION.RightArm'}}</th>
			<th>{{localize 'LOCATION.LeftArm'}}</th>
			<th>{{localize 'LOCATION.Body'}}</th>
			<th>{{localize 'LOCATION.RightLeg'}}</th>
			<th>{{localize 'LOCATION.LeftLeg'}}</th>
			<th>{{localize 'Enc.'}}</th>
			<th>{{localize 'Properties'}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<input class="armour_points_input" name="system.armour_points.head" type="text" value="{{item.system.armour_points.head}}" placeholder="{{localize 'LOCATION.Head'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="armour_points_input" name="system.armour_points.right_arm" type="text" value="{{item.system.armour_points.right_arm}}" placeholder="{{localize 'LOCATION.RightArm'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="armour_points_input" name="system.armour_points.left_arm" type="text" value="{{item.system.armour_points.left_arm}}" placeholder="{{localize 'LOCATION.LeftArm'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="armour_points_input" name="system.armour_points.body" type="text" value="{{item.system.armour_points.body}}" placeholder="{{localize 'LOCATION.Body'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="armour_points_input" name="system.armour_points.right_leg" type="text" value="{{item.system.armour_points.right_leg}}" placeholder="{{localize 'LOCATION.RightLeg'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="armour_points_input" name="system.armour_points.left_leg" type="text" value="{{item.system.armour_points.left_leg}}" placeholder="{{localize 'LOCATION.LeftLeg'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="encumbrance_input" name="system.encumbrance" type="text" value="{{item.system.encumbrance}}" placeholder="{{localize 'Enc.'}}" data-dtype="Number"/>
			</td>
			<td>
				<input class="properties_input" name="system.properties" type="text" value="{{item.system.properties}}" placeholder="{{localize 'Properties'}}" data-dtype="String"/>
			</td>
		</tr>
	</tbody>
</table>