<tr class="item" data-item-id="{{item._id}}">
	<td class="left_aligned_table_cell">
		<a class="item_name_link"><strong>{{item.name}}</strong> <span class="fas fa-dice-d20"></span></a>
	</td>
	
	<td class="center_aligned_table_cell">
		<span>{{item.system.damages}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<span>{{item.system.capacity}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<span>{{localize item.system.range}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<span>{{item.system.encumbrance}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<span>{{localize item.system.group}}</span>
	</td>
	
	<td class="left_aligned_table_cell">
		<span>{{item.system.properties}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<a class="quantity_link">{{item.system.quantity}}</a>
	</td>
	
	{{#if isOwner}}
	<td class="shrinked_table_cell">
		<a class="item_edit_link" title="{{localize 'EditItem'}}"><span class="fas fa-edit"></span></a>
	</td>
	<td class="shrinked_table_cell">
		<a class="item_delete_link" title="{{localize 'DeleteItem'}}"><span class="fas fa-trash"></span></a>
	</td>
	{{/if}}
</tr>