<table>
	<thead>
		<tr>
			<th class="table_cell_left_aligned">{{localize 'Damages'}}</th>
			<th class="table_cell_shrinked">{{localize 'Cap.'}}</th>
			<th class="table_cell_center_aligned">{{localize 'Range'}}</th>
			<th class="table_cell_shrinked">{{localize 'Enc.'}}</th>
			<th class="table_cell_center_aligned">{{localize 'Group'}}</th>
			<th class="table_cell_left_aligned">{{localize 'Properties'}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="table_cell_left_aligned">
				<input class="damages_input" name="system.damages" type="text" value="{{item.system.damages}}" placeholder="{{localize 'Damages'}}" data-dtype="Number"/>
			</td>
			<td class="table_cell_shrinked">
				<input class="capacity_input" name="system.capacity" type="text" value="{{item.system.capacity}}" placeholder="{{localize 'Cap.'}}" data-dtype="Number"/>
			</td>
			<td class="table_cell_center_aligned">
				<select name="system.range" data-dtype="String">
					{{#select item.system.range}}
						{{#each config.ranges as | range rng | }}
							<option value="{{rng}}">{{localize range}}</option>
						{{/each}}
					{{/select}}
				</select>
			</td>
			<td class="table_cell_shrinked">
				<input class="encumbrance_input" name="system.encumbrance" type="text" value="{{item.system.encumbrance}}" placeholder="{{localize 'Enc.'}}" data-dtype="Number"/>
			</td>
			<td class="table_cell_center_aligned">
				<select name="system.group" data-dtype="String">
					{{#select item.system.group}}
						{{#each config.weaponGroups as | group grp |}}
							<option value="{{grp}}">{{localize group}}</option>
						{{/each}}
					{{/select}}
				</select>
			</td>
			<td class="table_cell_left_aligned">
				<input class="properties_input" name="system.properties" type="text" value="{{item.system.properties}}" placeholder="{{localize 'Properties'}}" data-dtype="String"/>
			</td>
		</tr>
	</tbody>
</table>