<tr class="item" data-item-id="{{skill._id}}">
	<td class="table_cell_left_aligned">
		<a class="item_name_link"><strong>{{skill.name}}</strong></a>
	</td>

	<td class="table_cell_center_aligned">
		<input class="skill_raw_value_input" name="skill.system.raw_value" type="text" value="{{skill.system.raw_value}}" placeholder="{{localize 'RawValue'}}" data-dtype="Number" />
		{{#if (equals type 'character')}}
			<span>/50</span>
		{{else}}
			<span>/100</span>
		{{/if}}
	</td>

	{{#if (equals type 'character')}}
		<td class="table_cell_center_aligned">
			<a class="skill_true_value_link"><strong>{{skill.system.true_value}}</strong>/100 <span class="fas fa-dice-d20"></span></a>
		</td>
	{{/if }}

	{{#if isOwner}}
		<td class="table_cell_shrinked">
			<a class="item_delete_link" title="{{localize 'DeleteItem'}}"><span class="fas fa-trash"></span></a>
		</td>
	{{/if}}
</tr>