<tr class="item-id" data-key="{{pro}}">
	<td class="left_aligned_table_cell">
		<span>{{localize pro}}</span>
	</td>
	
	<td class="center_aligned_table_cell">
		<select name="system.proficiencies.{{ pro }}.level" data-dtype="Number">
			{{selectOptions proficiencyLevels selected=proficiency.level}}
		</select>
	</td>
	
	{{#if isOwner}}
		<td class="shrinked_table_cell">
			<a class="proficiency_delete_link" title="{{localize 'DeleteProficiency'}}"><span class="fas fa-trash"></span></a>
		</td>
	{{/if}}
</tr>