<div class="progression_resource_div">
			
	<h3>{{localize header}}</h3>
					
	<div class="progression_resource_input_div">
		<input class="progression_resource_input" name="{{valueDataPath}}" type="text" value="{{value}}" placeholder="{{localize 'Current'}}" data-dtype="Number"/>
		/
		<input class="progression_resource_input" name="{{maxDataPath}}" type="text" value="{{max}}" placeholder="{{localize 'Total'}}" data-dtype="Number"/>
	</div>
</div>