<table class="skills_table">
	<thead>
		<tr>
			<th class="skills_table_title" colspan=4>
				{{localize header}}

				{{#if (equals type 'character')}}
					<span class="skills_table_title_value">{{value}}/50</span>
				{{/if }}
			</th>
		</tr>
	</thead>			
	<tbody>
		{{#each skills as |skill sk|}}
			{{> systems/lotc/templates/partials/item-skill-row.html isOwner=../document.isOwner skill=skill type=../actor.type}}
		{{/each}}
	</tbody>
</table>