<form class="dialog_form">
	<div class="dialog_div">
		<label>{{localize "WeaponGroup"}}&nbsp;:</label>
		<select name="weapon_group_select" data-dtype="String">
			{{#select weaponGroup}}
				{{#each weaponGroups as | group key |}}
					<option value="{{key}}">{{localize group}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
</form>