<form class="dialog_form">
	{{#if (equals type 'parry')}}
		<div class="dialog_div">
			<label>{{localize 'TEST.Weapon'}}&nbsp;:</label>
			<select name="test_weapon">
				{{#select weapon}}
					{{#each weapons as |label key|}}
						<option value="{{key}}">{{this.name}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
	{{/if}}

	<div class="dialog_div">
		<label>{{localize 'TEST.Difficulty'}}&nbsp;:</label>
		<select name="test_difficulty">
			{{#select difficulty}}
				{{#each difficulties as |label key|}}
					<option value="{{key}}">{{localize label}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>

	<div class="dialog_div">
		<label>{{localize 'TEST.Modifier'}}&nbsp;:</label>
		<input type="number" name="test_modifier" value="{{modifier}}" />
	</div>

	<div>
		<label title="{{localize 'TEST.HitLocation'}}">{{localize 'TEST.HitLocation'}}&nbsp;:</label>
		<input type="checkbox" name="test_hit_location" {{checked hitLocation}} />
	</div>

	<div class="dialog_div">
		<label>{{localize 'TEST.RollMode'}}&nbsp;:</label>
		<select name="test_roll_mode">
			{{#select rollMode}}
				{{#each rollModes as |label mode|}}
					<option value="{{mode}}">{{localize label}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
</form>