<div class="test-message" data-actor-id="{{actor._id}}">
	<div>
		<h6><strong>{{title}}</strong>&nbsp;: <em>{{outcome}}</em></h6>
	</div>

	<div>
		<span><strong>{{localize "TEST.Result"}}&nbsp;</strong>: {{total}} vs. {{score}}</span>
	</div>

	<div class="test-message-success-level" data-success-level={{successLevel}}>
		<span><strong>{{localize "TEST.SuccessLevel"}}&nbsp;</strong>: {{successLevel}}</span>
	</div>

	<div class="test-message-final-success-level" data-final-success-level={{finalSuccessLevel}}>
		<span><strong>{{localize "TEST.FinalSuccessLevel"}}&nbsp;</strong>: {{finalSuccessLevel}}</span>
	</div>

	{{#if damages}}
		<div class="test-message-damages" data-damages={{damages}}>
			<span><strong>{{localize "TEST.Damages"}}&nbsp;</strong>: {{damages}}</span>
		</div>
	{{/if}}

	{{#if finalDamages}}
		<div class="test-message-final-damages" data-final-damages={{finalDamages}}>
			<span><strong>{{localize "TEST.FinalDamages"}}&nbsp;</strong>: {{finalDamages}}</span>
		</div>
	{{/if}}

	{{#if hitLocation}}
		<div class="test-message-hit-location" data-hit-location="{{hitLocation}}">
			<span><strong>{{localize "TEST.HitLocation"}}&nbsp;</strong>: {{hitLocation}}</span>
		</div>
	{{/if}}

	{{#if damages}}
	{{#if (equals type 'attack')}}
		<div>
			<button class="test-parry">{{localize "TEST.Parry"}}</button>
			<button class="test-dodge">{{localize "TEST.Dodge"}}</button>
		</div>
	{{/if}}
	{{/if}}
</div>