<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="actor_image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
		
		<div class="identity_div">
			<div class="input_div">
				<input class="name_input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
			</div>

			{{#if (equals actor.type 'character')}}
				<select class="class_select" name="system.identity.class" data-dtype="String">
					{{#select actor.system.identity.class}}
						{{#each config.classes as |class key|}}
						<option value="{{key}}">{{localize class}}</option>
						{{/each}}
					{{/select}}
				</select>

				<input class="identity_input" name="system.identity.rank" type="text" value="{{actor.system.identity.rank}}" placeholder="{{localize 'Rank'}}" />
				<input class="identity_input" name="system.identity.faction" type="text" value="{{actor.system.identity.faction}}" placeholder="{{localize 'Faction'}}" />
				<input class="identity_input" name="system.identity.title" type="text" value="{{actor.system.identity.title}}" placeholder="{{localize 'Title'}}" />
				<input class="identity_input" name="system.identity.region" type="text" value="{{actor.system.identity.region}}" placeholder="{{localize 'Region'}}" />
			{{/if}}
		</div>	
	</header>
	
	{{!-- Sheet Navigation Tab --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="tab_link characteristics_tab_link" data-tab="characteristics">{{localize 'Characteristics'}}</a>
		<a class="tab_link skills_tab_link" data-tab="skills">{{localize 'Skills'}}</a>
		<a class="tab_link gear_tab_link" data-tab="gear">{{localize 'Gear'}}</a>
		<a class="tab_link biography_tab_link" data-tab="biography">{{localize 'Biography'}}</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab_div tab characteristics_tab_div" data-group="primary" data-tab="characteristics">
			{{#if (equals actor.type 'character')}}
				<div class="character_sheet_div">
					<h2>{{localize 'Characteristics'}} /50</h2>
			
					<div class="characteristics_div">
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Physique' abbreviation='CHARACTERISTIC.Phy.' dataPath='system.characteristics.physique' value=actor.system.characteristics.physique}}
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Constitution' abbreviation='CHARACTERISTIC.Con.' dataPath='system.characteristics.constitution' value=actor.system.characteristics.constitution}}
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Agility' abbreviation='CHARACTERISTIC.Agi.' dataPath='system.characteristics.agility' value=actor.system.characteristics.agility}}
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Intelligence' abbreviation='CHARACTERISTIC.Int.' dataPath='system.characteristics.intelligence' value=actor.system.characteristics.intelligence}}
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Willpower' abbreviation='CHARACTERISTIC.WP' dataPath='system.characteristics.willpower' value=actor.system.characteristics.willpower}}
						{{>systems/lotc/templates/partials/characteristic-div-partial.html isOwner=../document.isOwner label='CHARACTERISTIC.Charisma' abbreviation='CHARACTERISTIC.Cha.' dataPath='system.characteristics.charisma' value=actor.system.characteristics.charisma}}
					</div>
				</div>
			{{/if}}
			
			<div class="character_sheet_div">
				<h2>{{localize 'DerivedCharacteristics'}}</h2>

				<div class="derived_characteristics_div">
					<div class="derived_characteristic_div">
						{{#if (equals actor.type 'creature')}}
							<label title="{{localize 'Damages'}}" name="system.derived_characteristics.strike_force">{{localize 'Damages'}}&nbsp;:</label>
							<input class="derived_characteristics_input" name="system.derived_characteristics.strike_force" type="number" value="{{actor.system.derived_characteristics.strike_force}}" placeholder="{{localize 'Damages'}}" />
						{{else}}
							<span title="{{localize 'DERIVED_CHARACTERISTIC.StrikeForce'}}">{{localize 'DERIVED_CHARACTERISTIC.SF'}}</span><span>&nbsp;: {{actor.system.derived_characteristics.strike_force}}</span>
						{{/if}}
					</div>

					<div class="derived_characteristic_div">
						{{#if (equals actor.type 'creature')}}
							<label title="{{localize 'DERIVED_CHARACTERISTIC.PhysicalResistance'}}" name="system.derived_characteristics.physical_resistance">{{localize 'DERIVED_CHARACTERISTIC.PR'}}&nbsp;:</label>
							<input class="derived_characteristics_input" name="system.derived_characteristics.physical_resistance" type="number" value="{{actor.system.derived_characteristics.physical_resistance}}" placeholder="{{localize 'DERIVED_CHARACTERISTIC.PhysicalResistance'}}" />
						{{else}}
							<span title="{{localize 'DERIVED_CHARACTERISTIC.PhysicalResistance'}}">{{localize 'DERIVED_CHARACTERISTIC.PR'}}</span><span>&nbsp;: {{actor.system.derived_characteristics.physical_resistance}}</span>
						{{/if}}
					</div>

					<div class="derived_characteristic_div">
						{{#if (equals actor.type 'creature')}}
							<label title="{{localize 'DERIVED_CHARACTERISTIC.EsotericResistance'}}" name="system.derived_characteristics.esoteric_resistance">{{localize 'DERIVED_CHARACTERISTIC.ER'}}&nbsp;:</label>
							<input class="derived_characteristics_input" name="system.derived_characteristics.esoteric_resistance" type="number" value="{{actor.system.derived_characteristics.esoteric_resistance}}" placeholder="{{localize 'DERIVED_CHARACTERISTIC.EsotericResistance'}}" />
						{{else}}
							<span title="{{localize 'DERIVED_CHARACTERISTIC.EsotericResistance'}}">{{localize 'DERIVED_CHARACTERISTIC.ER'}}</span><span>&nbsp;: {{actor.system.derived_characteristics.esoteric_resistance}}</span>
						{{/if}}
					</div>

					<div class="derived_characteristic_div">
						{{#if (equals actor.type 'creature')}}
							<label title="{{localize 'DERIVED_CHARACTERISTIC.Speed'}}" name="system.derived_characteristics.speed">{{localize 'DERIVED_CHARACTERISTIC.Spe.'}}&nbsp;:</label>
							<input class="derived_characteristics_input" name="system.derived_characteristics.speed" type="number" value="{{actor.system.derived_characteristics.speed}}" placeholder="{{localize 'DERIVED_CHARACTERISTIC.Speed'}}" />
						{{else}}
							<span title="{{localize 'DERIVED_CHARACTERISTIC.Speed'}}">{{localize 'DERIVED_CHARACTERISTIC.Spe.'}}</span><span>&nbsp;: {{actor.system.derived_characteristics.speed}}</span>
						{{/if}}
					</div>

					<div class="derived_characteristic_div">
						{{#if (equals actor.type 'creature')}}
							<label title="{{localize 'DERIVED_CHARACTERISTIC.Stamina'}}" name="system.derived_characteristics.stamina">{{localize 'Sta.'}}&nbsp;:</label>
							<input class="derived_characteristics_input" name="system.derived_characteristics.stamina" type="number" value="{{actor.system.derived_characteristics.stamina}}" placeholder="{{localize 'DERIVED_CHARACTERISTIC.Stamina'}}" />
						{{else}}
							<span title="{{localize 'DERIVED_CHARACTERISTIC.Stamina'}}">{{localize 'DERIVED_CHARACTERISTIC.Sta.'}}</span><span>&nbsp;: {{actor.system.derived_characteristics.stamina}}</span>
						{{/if}}
					</div>
				</div>
			</div>
			
			<div class="character_sheet_div resources_and_proficiencies_div">
				<div class="resources_and_progression_div">
					<div class="character_sheet_div">
						<div class="resources_div">
							{{#if (equals actor.type 'character')}}
								<div class="resource_div">

									<h3>{{localize 'DERIVED_CHARACTERISTIC.HealthPoints'}}</h3>

									<div class="resource_input_div">
										<input class="resource_input" name="system.derived_characteristics.health_points.value" type="text" value="{{actor.system.derived_characteristics.health_points.value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" /> / {{actor.system.derived_characteristics.health_points.max}}
									</div>
								</div>
							{{else}}
								<div class="resource_div">
									<h3>{{localize 'DERIVED_CHARACTERISTIC.HealthPoints'}}</h3>

									<div class="resource_input_div">
										<input class="resource_input" name="system.derived_characteristics.health_points.value" type="text" value="{{actor.system.derived_characteristics.health_points.value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" /> / 
										<input class="resource_input" name="system.derived_characteristics.health_points.max" type="text" value="{{actor.system.derived_characteristics.health_points.max}}" placeholder="{{localize 'Maximum'}}" data-dtype="Number" /> {{actor.system.derived_characteristics.health_points.max}}
									</div>
								</div>
							{{/if}}

							{{#if (equals actor.type 'character')}}
								<div class="resource_div">
									<h3>{{localize 'DERIVED_CHARACTERISTIC.Luck'}}</h3>

									<div class="resource_input_div">
										<input class="resource_input" name="system.derived_characteristics.luck.value" type="text" value="{{actor.system.derived_characteristics.luck.value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" /> / {{actor.system.derived_characteristics.luck.max}}
									</div>
								</div>
							{{/if}}

							<div class="resource_div">
								<h3><a class="stress_link">{{localize 'DERIVED_CHARACTERISTIC.Stress'}}</a></h3>

								<div class="resource_input_div">
									<input class="resource_input" name="system.derived_characteristics.stress.value" type="text" value="{{actor.system.derived_characteristics.stress.value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" /> / {{actor.system.derived_characteristics.stress.max}}
								</div>
							</div>
							<div class="resource_div">
								<h3><a class="contamination_link">{{localize 'DERIVED_CHARACTERISTIC.Contamination'}}</a></h3>

								<div class="resource_input_div">
									<input class="resource_input" name="system.derived_characteristics.contamination.value" type="text" value="{{actor.system.derived_characteristics.contamination.value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" /> / {{actor.system.derived_characteristics.contamination.max}}
								</div>
							</div>
						</div>
					</div>
					
					{{#if (equals actor.type 'character')}}
						<div class="character_sheet_div">
							<div class="progression_div">
								{{>systems/lotc/templates/partials/progression-resource-div-partial.html isOwner=../document.isOwner header='PROGRESSION.Experience' valueDataPath='system.progression.experience.value' maxDataPath='system.progression.experience.max' value=actor.system.progression.experience.value max=actor.system.progression.experience.max}}
								{{>systems/lotc/templates/partials/progression-resource-div-partial.html isOwner=../document.isOwner header='PROGRESSION.Influence' valueDataPath='system.progression.influence.value' maxDataPath='system.progression.influence.max' value=actor.system.progression.influence.value max=actor.system.progression.influence.max}}
							</div>
						</div>
					{{/if}}
				</div>
				
				<div class="proficiencies_div">
					<table class="proficiencies_table">
						<thead>
							<tr>
								<th class="table_cell_left_aligned">{{localize 'Proficiencies'}}</th>
								<th class="table_cell_center_aligned">{{localize 'Level'}}</th>
								
								{{#if document.isOwner}}
									<th class="table_cell_shrinked"><a class="proficiency-create" title="{{localize 'AddProficiency'}}"><span class="fas fa-plus"></span></a></th>
								{{/if}}
							</tr>
						</thead>
						<tbody>
							{{#each actor.system.proficiencies as |proficiency pro|}}
								{{>systems/lotc/templates/partials/proficiency-row.html isOwner=../document.isOwner pro=pro proficiencyLevels=../proficiencyLevels}}
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
		<div class="tab_div tab skills_tab_div" data-group="primary" data-tab="skills">
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Physique' value=actor.system.characteristics.physique skills=items.skills.physique type=actor.type}}
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Intelligence' value=actor.system.characteristics.intelligence skills=items.skills.intelligence type=actor.type}}
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Constitution' value=actor.system.characteristics.constitution skills=items.skills.constitution type=actor.type}}
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Willpower' value=actor.system.characteristics.willpower skills=items.skills.willpower type=actor.type}}
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Agility' value=actor.system.characteristics.agility skills=items.skills.agility type=actor.type}}
			{{>systems/lotc/templates/partials/skills-table-partial.html isOwner=../document.isOwner header='CHARACTERISTIC.Charisma' value=actor.system.characteristics.charisma skills=items.skills.charisma type=actor.type}}

			<table class="skills_table">
				<thead>
					<tr><th class="passive_abilities_table_title" colspan=5>{{localize 'PassiveAbilities'}}</th></tr>
				</thead>
				<tbody>
					{{#each items.passiveAbilities}}
						{{>systems/lotc/templates/partials/item-row.html isOwner=../document.isOwner item=this}}
					{{/each}}
				</tbody>
			</table>

			<table class="skills_table">
				<thead>
					<tr><th class="active_abilities_table_title" colspan=5>{{localize 'ActiveAbilities'}}</th></tr>
				</thead>
				<tbody>
					{{#each items.activeAbilities}}
						{{>systems/lotc/templates/partials/item-row.html isOwner=../document.isOwner item=this}}
					{{/each}}
				</tbody>
			</table>
		</div>
	
		<div class="tab_div tab gear_tab_div" data-tab="gear">
			<table class="gear_table">
				<thead>
					<tr><th class="weapons_table_title" colspan=10>{{localize 'Weapons'}}</th></tr>
					<tr class="hint_table_header">
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Name'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Damages'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Cap.'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Range'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Enc.'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Group'}}</th>
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Properties'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Qu.'}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.weapons}}
						{{>systems/lotc/templates/partials/item-weapon-row.html isOwner=../document.isOwner item=this}}
					{{/each}}
				</tbody>
			</table>
			
			<table class="gear_table">
				<thead>
					<tr><th class="armours_table_title" colspan=10>{{localize 'Armour'}}</th></tr>
					<tr>
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Name'}}</th>
						<th title="{{localize 'LOCATION.Head'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.H'}}</th>
						<th title="{{localize 'LOCATION.RightArm'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.RA'}}</th>
						<th title="{{localize 'LOCATION.LeftArm'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.LA'}}</th>
						<th title="{{localize 'LOCATION.Body'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.B'}}</th>
						<th title="{{localize 'LOCATION.RightLeg'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.RL'}}</th>
						<th title="{{localize 'LOCATION.LeftLeg'}}" class="center_aligned_table_cell hint_table_header">{{localize 'LOCATION.LL'}}</th>
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Properties'}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.armours}}
						{{>systems/lotc/templates/partials/item-armour-row.html isOwner=../document.isOwner item=this}}
					{{/each}}
				</tbody>
			</table>
			
			<table class="gear_table">
				<thead>
					<tr><th class="gear_table_title" colspan=6>{{localize 'Possessions'}}</th></tr>
					<tr class="hint_table_header">
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Name'}}</th>
						<th class="left_aligned_table_cell hint_table_header">{{localize 'Description'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Enc.'}}</th>
						<th class="center_aligned_table_cell hint_table_header">{{localize 'Qu.'}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.items}}
						{{>systems/lotc/templates/partials/item-row.html isOwner=../document.isOwner item=this}}
					{{/each}}
				</tbody>
			</table>

			<div class="gear_details">
				<div class="money">
					{{localize 'Money'}}&nbsp;: <input class="money_input" name="system.money" type="text" value="{{actor.system.money}}" placeholder="{{localize 'Money'}}" /><span>&nbsp;£</span>
				</div>
				<div class="encumbrance">
					<u>{{localize 'DERIVED_CHARACTERISTIC.Encumbrance'}}</u>&nbsp;: {{actor.system.derived_characteristics.encumbrance.value}}/{{actor.system.derived_characteristics.encumbrance.max}}
				</div>
			</div>
		</div>
		
		<div class="tab_div tab biography_tab_div" data-group="primary" data-tab="biography">
			{{editor actor.system.identity.biography target="system.identity.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>