<form class="{{ cssClass }}" autocomplete="off">
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{>systems/lotc/templates/partials/item-item-partial.html isOwner=document.isOwner item=item}}
		{{>systems/lotc/templates/partials/item-weapon-partial.html isOwner=document.isOwner item=item}}
		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</section>
</form>