<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<img class="item_img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		
		<h2><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"/></h2>
	
		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</section>
</form>