<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{> systems/lotc/templates/partials/item-item-partial.html isOwner=document.isOwner item=item}}
		
		<label class="encumbrance_label">{{localize 'Encumbrance'}} :</label>
		{{#if document.isOwner}}
			<input class="encumbrance_input" name="system.encumbrance" type="text" value="{{item.system.encumbrance}}" placeholder="{{localize 'Encumbrance'}}" data-dtype="Number"/>
		{{else}}
			<span>{{item.system.encumbrance}}</span>
		{{/if}}
	
		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</section>
</form>