<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<img class="item_img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		
		<h2><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name'}}"/></h2>
			
		<div class="associated_characteristic_div">
			<label class="associated_characteristic_label">{{localize 'AssociatedCharacteristic'}} :</label>
			<select name="system.associated_characteristic" data-dtype="String">
				{{#select item.system.associated_characteristic}}
					{{#each config.characteristics as | char ch |}}
						<option value="{{ch}}">{{localize char}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>

		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</section>
</form>