.assassin h2
{
	background-color: black;
	border-color: #c40d0e !important;
}

.assassin h3
{
	background-color: black;
	border-color: #c40d0e !important;
}

.assassin input
{
	color: black !important;
}

.assassin label
{
	color: black;
}

.assassin select
{
	color: black;
}

.assassin table thead
{
	background-color: black !important;
	border-color: #c40d0e !important;
}

.assassin .derived_characteristics_div
{
	color: black;
}

.assassin .gear_details > *
{
	background-color: black;
	border-color: #c40d0e !important;
}

.assassin .sheet-tabs
{
	background-color: black;
	border-color: #c40d0e !important;
}

.assassin .window-content
{
	color: white !important;
	background: url(../assets/images/logo_assassin.svg) no-repeat center, url(../assets/images/background_assassin.jpg) !important;
}