.cardmancer h2
{
	background-color: #9d5394;
	border-color: #702d6a !important;
}

.cardmancer h3
{
	background-color: #9d5394;
	border-color: #702d6a !important;
}

.cardmancer input
{
	color: #9d5394 !important;
}

.cardmancer label
{
	color: #9d5394;
}

.cardmancer select
{
	color: #9d5394;
}

.cardmancer table thead
{
	background-color: #9d5394 !important;
	border-color: #702d6a !important;
}

.cardmancer .derived_characteristics_div
{
	color: #9d5394;
}

.cardmancer .gear_details > *
{
	background-color: #9d5394;
	border-color: #702d6a !important;
}

.cardmancer .sheet-tabs
{
	background-color: #9d5394;
	border-color: #702d6a !important;
}

.cardmancer .window-content
{
	color: #fce4e7 !important;
	background: url(../assets/images/logo_cardmancer.svg) no-repeat center, url(../assets/images/background_cardmancer.jpg) !important;
}