.crownsoldier h2
{
	background-color: #2a206f;
	border-color: #3a5b88 !important;
}

.crownsoldier h3
{
	background-color: #2a206f;
	border-color: #3a5b88 !important;
}

.crownsoldier input
{
	color: #2a206f !important;
}

.crownsoldier label
{
	color: #2a206f;
}

.crownsoldier select
{
	color: #2a206f;
}

.crownsoldier table thead
{
	background-color: #2a206f !important;
	border-color: #3a5b88 !important;
}

.crownsoldier .derived_characteristics_div
{
	color: #2a206f;
}

.crownsoldier .gear_details > *
{
	background-color: #2a206f;
	border-color: #3a5b88 !important;
}

.crownsoldier .sheet-tabs
{
	background-color: #2a206f;
	border-color: #3a5b88 !important;
}

.crownsoldier .window-content
{
	color: white !important;
	background: url(../assets/images/logo_crownsoldier.svg) no-repeat center, url(../assets/images/background_crownsoldier.jpg) !important;
}