@font-face
{
	font-family: "Old London";
	src: url(../assets/fonts/OldLondon.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

a
{
	filter: drop-shadow(0px 0px 4px #FF0000);
	transition: text-shadow 0.125s ease, filter 0.125s ease;
}
	a:hover
	{
		filter: drop-shadow(0px 0px 2px #FF0000);
	}

	a:active
	{
		filter: drop-shadow(0px 0px 1px #FF0000);
	}
	
	a.entity-link, a.inline-roll
	{
	}

body
{
	font: 12pt "Times New Roman";
}

button
{
	height: auto !important;
	font: inherit;
}

h1
{
	font: 32pt "Old London";
}

h2
{
	padding: 0 5px;
	color: white;
	background-color: #48423b;
	border: solid 1pt black !important;
	font: 24pt "Old London";
}

h3:not(.document-name)
{
	padding: 0 5px;
	color: white;
	background-color: #48423b;
	border: solid 1pt black !important;
	font: 20pt "Old London";
}

h3.entity-name, .encounters h3, .folder-header h3, #players h3, #pause h3
{
	background: unset;
	border: unset !important;
}

h4
{
	margin: auto !important;
	font: 16pt "Times New Roman";
}

h5
{
	margin: auto !important;
	font: 14pt "Times New Roman";
}

h6
{
	margin: auto !important;
	font: 12pt "Times New Roman";
}

input
{
	height: auto !important;
	color: #48423b !important;
	background-color: rgba(255, 255, 255, 0.333) !important;
	border: solid grey 1px !important;
	border-radius: 0 !important;
	border-corner-shape: scoop;
	font-weight: bold;
}

label
{
	text-shadow:
		-1pt -1pt 0pt white,
		-1pt 0 0pt white,
		0 -1pt 0pt white,
		-1pt 1pt 0pt white,
		1pt -1pt 0pt white,
		0 1pt 0pt white,
		1pt 0 0pt white,
		1pt 1pt 0pt white;
}

li
{
	font-size: 11pt;
}

/*input:before
{
	position:absolute;
	padding: $r;
	box-shadow: 0 0 7px #b53;
	background: #95a;
	content: ''
}

input:after
{
	content: "";
	margin:-20px;
	width:40px;
	height:40px;
	border-radius: 50%;
	box-shadow: 0 0 0 250px #522d5b;
}*/

p
{
	font-size: 11pt;
}

td
{
	padding: 0.25em !important;
}

th
{
	padding: 0 0.25em !important;
	font: inherit;
}

thead
{
	background-color: #48423b !important;
	border: solid 1pt black !important;
	color: white;
	font: 20pt "Old London";
	font-weight: normal;
	text-align: left;
}

select
{
	height: auto !important;
	background-color: rgba(255, 255, 255, 0.333) !important;
	border: solid grey 1px !important;
	border-radius: 0 !important;
	font: inherit !important;
	font-weight: bold !important;
}

.actor_image
{
	width: 114px !important;
	height: 114px !important;
	background-color: rgba(255, 255, 255, 0.25);
}

.character_sheet_div
{
	margin-bottom: 10px; 
}

.characteristics_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

.characteristic_div
{
	margin: 0 0.25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 100px;
}

.characteristic_input
{
	width: 25px !important;
}

.characteristic_label
{
	font: 20pt "Old London";
	flex-basis: 100%;
}

.class_select
{
	font: 24pt "Old London" !important;
	border-radius: 10px 10px;
	border-corner-shape: scoop;
}

/*.contamination_input_div
{
	background: url(../assets/images/logo_rust.svg) no-repeat center;
}*/

.derived_characteristics_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;
	font: 16pt "Times New Roman";
	text-shadow:
		-1pt -1pt 0pt white,
		-1pt 0 0pt white,
		0 -1pt 0pt white,
		-1pt 1pt 0pt white,
		1pt -1pt 0pt white,
		0 1pt 0pt white,
		1pt 0 0pt white,
		1pt 1pt 0pt white;
}

.derived_characteristics_input
{
	width: 30px !important;
}

.dialog_div
{
	display: flex;
	margin: 5px 0;
	flex-flow: row wrap;
}

	.dialog_div > input, .dialog_div > select
	{
		width: auto !important;
		flex: auto 1 1;
	}

	.dialog_div > label
	{
		margin-right: 10px;
	}

.editor
{
	height: 100%;
}

.gear_details
{
	display: flex;
	justify-content: space-between;
	font-size: 16pt;
}

	.gear_details > *
	{
		height: auto !important;
		padding: 5px 5px 3px;
		color: white;
		background-color: #48423b;
		border: solid 1pt black !important;
		justify-content: space-between;
	}

.gear_table
{
	margin: 0 0 10px 0 !important;
}

.hint_table_header
{
	font-size: 16pt;
}

.identity_div
{
	display: flex;
	flex-flow: row wrap;
}

	.identity_div > *
	{
		flex: 1 1 50%;
	}
	
.identity_input
{
	font-size: 16pt !important;
}
	
.input_div
{
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.333) !important;
	border: solid 3px rgba(76, 66, 58) !important;
}

.item_img
{
	width: 128px !important;
	height: 128px !important;
}

.money
{
	display: flex;
}

.money_input
{
	margin-left: 10px !important;
}

.name_input
{
	font: 24pt "Old London" !important;
}

.proficiency-create
{
	font-size: 16pt;
}

.proficiencies_table
{
	margin: 0 0 10px 0 !important;
}

.progression_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
}

.progression_resource_input
{
	width: 25px !important;
}

.resources_and_proficiencies_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

	.resources_and_proficiencies_div > *
	{
		flex: 1 1 auto;
	}

.resources_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
}

.resource_input
{
	width: 25px !important;
}

.sheet-body
{
	height: calc(100% - 173px);
}
	
.sheet-tabs
{
	height: auto !important;
	color: white;
	background-color: #48423b;
	border: solid 1pt black !important;
	justify-content: space-between;
}

.skill_raw_value_input
{
	width: 30px !important;
	margin-right : 2px !important;
}

.skills_tab_div.active
{
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
}

.skills_table
{
	min-width: 350px;
	height: min-content;
	margin: 0 0 10px 0 !important;
	flex-basis: calc(50% - 8px);
	flex-grow: 1;
}

.skills_table_title_value
{
	float: right;
}

.tab_div
{
	height: 100%;
}

.tab_link
{
	margin: 0 4px;
	font: 20pt "Old London";
	text-align: center;
}

.center_aligned_table_cell
{
	text-align: center;
}

.left_aligned_table_cell
{
	text-align: left;
}

.right_aligned_table_cell
{
	text-align: right;
}

.shrinked_table_cell
{
	width: 1px;
	text-align: center;
}

.window-content
{
	color: #48423b !important;
	background: url(../assets/images/background_normal.jpg) !important;
}

#combat #combat-round .encounters h3
{
	font-size: 16pt;
}

#playlists h4
{
	height: auto !important;
	font-size: 16pt;
}

#settings h2
{
	font-size: 24pt;
}

#settings button
{
	padding: 5px;
}