.ranger h2
{
	color: #d8dfab;
	background-color: #03482c;
	border-color: #c2c65b !important;
	text-shadow: none;
}

.ranger h3
{
	color: #d8dfab;
	background-color: #03482c;
	border-color: #c2c65b !important;
	text-shadow: none;
}

.ranger input
{
	color: #03482c !important;
}

.ranger label
{
	color: #03482c !important;
	text-shadow:
		-1pt -1pt 0pt #d8dfab,
		-1pt 0 0pt #d8dfab,
		0 -1pt 0pt #d8dfab,
		-1pt 1pt 0pt #d8dfab,
		1pt -1pt 0pt #d8dfab,
		0 1pt 0pt #d8dfab,
		1pt 0 0pt #d8dfab,
		1pt 1pt 0pt #d8dfab;
}

.ranger select
{
	color: #03482c;
}

.ranger thead
{
	color: #d8dfab !important;
	background-color: #03482c !important;
	border-color: #c2c65b !important;
}

.ranger .derived_characteristics_div
{
	color: #03482c !important;
	text-shadow:
		-1pt -1pt 0pt #d8dfab,
		-1pt 0 0pt #d8dfab,
		0 -1pt 0pt #d8dfab,
		-1pt 1pt 0pt #d8dfab,
		1pt -1pt 0pt #d8dfab,
		0 1pt 0pt #d8dfab,
		1pt 0 0pt #d8dfab,
		1pt 1pt 0pt #d8dfab;
}

.ranger .gear_details > *
{
	color: #d8dfab;
	background-color: #03482c;
	border-color: #c2c65b !important;
}

.ranger .roll
{
	color: #d8dfab;
	background-color: #03482c;
	border-color: #c2c65b;
}

.ranger .sheet-tabs
{
	color: #d8dfab;
	background-color: #03482c;
	border-color: #c2c65b !important;
}

.ranger .window-content
{
	color: #d8dfab !important;
	background: url(../assets/images/logo_ranger.svg) no-repeat center, url(../assets/images/background_ranger.jpg) !important;
}