.rustphysician h2
{
	background-color: #606060;
	border-color: #404040 !important;
}

.rustphysician h3
{
	background-color: #606060;
	border-color: #404040 !important;
}

.rustphysician input
{
	color: #606060 !important;
}

.rustphysician label
{
	color: #606060;
}

.rustphysician select
{
	color: #606060;
}

.rustphysician table thead
{
	background-color: #606060 !important;
	border-color: #404040 !important;
}

.rustphysician .derived_characteristics_div
{
	color: #606060;
}

.rustphysician .gear_details > *
{
	background-color: #606060;
	border-color: #404040 !important;
}

.rustphysician .sheet-tabs
{
	background-color: #606060;
	border-color: #404040 !important;
}

.rustphysician .window-content
{
	color: white !important;
	background: url(../assets/images/logo_rustphysician.svg) no-repeat center, url(../assets/images/background_rustphysician.jpg) !important;
}