.technodeacon h2
{
	background-color: #4f150b;
	border-color: #785e37 !important;
}

.technodeacon h3
{
	background-color: #4f150b;
	border-color: #785e37 !important;
}

.technodeacon input
{
	color: #4f150b !important;
}

.technodeacon label
{
	color: #4f150b;
}

.technodeacon select
{
	color: #4f150b;
}

.technodeacon table thead
{
	background-color: #4f150b !important;
	border-color: #785e37 !important;
}

.technodeacon .derived_characteristics_div
{
	color: #4f150b;
}

.technodeacon .gear_details > *
{
	background-color: #4f150b;
	border-color: #785e37 !important;
}

.technodeacon .sheet-tabs
{
	background-color: #4f150b;
	border-color: #785e37 !important;
}

.technodeacon .window-content
{
	color: #c0c0c0 !important;
	background: url(../assets/images/logo_technodeacon.svg) no-repeat center, url(../assets/images/background_technodeacon.jpg) !important;
}